.portfolio-item {
    margin-bottom: 25px;
}

#blinky {
  width: 173px;
  background-color:red; 
  display:block;
  margin: auto;
  padding: 0 7px;
}


/* Print/Download resume */
.tools {
	position: absolute;
	top: 1px;
	right: -7px;
	padding-top: 30px;
}

span.glyphicon {
    font-size: 1.6em;
    height: 25px;
    line-height: 1.1;
    margin-left: 12px;
    background-color: #ffffff;
}

@media (max-width: 985px) {
  .tools {
    display: none;
  }
}