body { 
	background: url(../img/IMG_0885.JPG) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: #ffffff;
}

.row {
	margin: 0;
}

#top {
	height: 450px;
	background-color:rgba(0,0,0,0);
}

#stripe {
	padding: 20px;
	height: 200px;
	background-color: #729DC1;
}

#two {
	height:500px;
	background: url(../img/angular-d3-example.png) no-repeat; 
	background-size: cover;
	background-attachment: fixed; /* removes jitters */
}

#three {
	height:500px;
	background-color:#43dc7d;
}

#four {
	height:600px;
	background: url(../img/xkcd-fantasy.png) no-repeat; 
	background-size: cover;
	background-attachment: fixed; /* removes jitters */
}