<div class='jumbotron text-center'>
	<h1>Connor Leech</h1>

	<p>Javascript programmer -- Africa traveler -- Great guy</p>

	<a href='github.com/jasonshark'><i class="fa fa-3x fa-github-square"></i></a>

	<a href="javascript:void()" onclick="javascript:window.open('mailto:connorleech@gmail.com?subject=Mail from connorlee.ch');"><i class="fa fa-3x fa-envelope"></i></a>

	<a href='twitter.com/cleechtech'><i class="fa fa-3x fa-twitter"></i></a>

	<a href='https://www.linkedin.com/in/connorleech'><i class="fa fa-3x fa-linkedin-square"></i></a>

</div>

<!-- <h2>Projects</h2>
<div class="row" id="portfolio-items" style="position: relative; overflow: hidden; height: 600px;">	
	<div class="col-md-3 portfolioitem portfolio-type1 isotope-item">
		<img src="http://michael-tresseras.com/images/domo-270-270.png" alt="">
		<div class="portfolioitem-hoverinfo" style="display: none;">
			<h3>Project 1</h3>
			<p>This is about project 1</p>
			<div class="portfolioitem-actions">

				<a target="_blank" class="tips img-circle" href="javascript:void()" >
					<span class="glyphicons white zoom_in"><i></i></span>
				</a>
				<a href="#portfolioitem-1" class="tips more-info img-circle">
					<span class="glyphicons white share"><i></i></span>
				</a>
			</div>
		</div>
	</div>
	<div style="box-shadow: black 0px 0px 5px -2px; top: 5px !important; position: absolute; left: 0px; transform: translate3d(300px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;" class="span3 portfolioitem portfolio-type1 isotope-item">
		<img src="http://michael-tresseras.com/images/illumina-270-270.png" alt="">
		<div class="portfolioitem-hoverinfo" style="display: none;">
			<h3>Illumina</h3>
			<p>A website to commemorate Illumina's latest achievements</p>
			<div class="portfolioitem-actions">
				<a target="_blank" class="tips img-circle" href="javascript:void()" data-placement="bottom" data-original-title="Private Demo Only"><span class="glyphicons white zoom_in"><i></i></span></a>
				<a href="#portfolioitem-2" class="tips more-info img-circle" data-placement="bottom" data-original-title="Project Description"><span class="glyphicons white share"><i></i></span></a>
			</div>
		</div>
	</div>

	<div style="box-shadow: black 0px 0px 5px -2px; top: 5px !important; position: absolute; left: 0px; transform: translate3d(600px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;" class="span3 portfolioitem portfolio-type1 isotope-item">
		<img src="http://michael-tresseras.com/images/quicken-270-270.png" alt="">
		<div class="portfolioitem-hoverinfo" style="display: none;">
			<h3>Quicken</h3>
			<p>A simple page to know everything about your company's finances</p>
			<div class="portfolioitem-actions">
				<a target="_blank" class="tips img-circle" href="javascript:void()" data-placement="bottom" data-original-title="Private Demo Only"><span class="glyphicons white zoom_in"><i></i></span></a>
				<a href="#portfolioitem-3" class="tips more-info img-circle" data-placement="bottom" data-original-title="Project Description"><span class="glyphicons white share"><i></i></span></a>
			</div>
		</div>
	</div>

	<div style="box-shadow: black 0px 0px 5px -2px; left: -1px !important; top: 5px !important; position: absolute; transform: translate3d(0px, 300px, 0px) scale3d(1, 1, 1); opacity: 1;" class="span3 portfolioitem portfolio-type2 isotope-item">
		<img src="http://michael-tresseras.com/images/TSP-Thumb.png" alt="">
		<div class="portfolioitem-hoverinfo" style="display: none;">
			<h3>The Social Plugin</h3>
			<p>A San Francisco-based social media agency for startups</p>
			<div class="portfolioitem-actions">
				<a target="_blank" class="tips img-circle" href="//thesocialplugin.com/" data-placement="bottom" data-original-title="View Online"><span class="glyphicons white zoom_in"><i></i></span></a>
				<a href="#portfolioitem-5" class="tips more-info img-circle" data-placement="bottom" data-original-title="Project Description"><span class="glyphicons white share"><i></i></span></a>
			</div>
		</div>
	</div>
	
	<div style="box-shadow: black 0px 0px 5px -2px; left: -2px !important; top: 5px !important; position: absolute; transform: translate3d(300px, 300px, 0px) scale3d(1, 1, 1); opacity: 1;" class="span3 portfolioitem portfolio-type2 isotope-item">
		<img src="http://michael-tresseras.com/images/Dine-Dish-Thumb.png" alt="">
		<div class="portfolioitem-hoverinfo" style="display: none;">
			<h3>Dine &amp; Dish</h3>
			<p>A digital marketing agency for restaurants</p>
			<div class="portfolioitem-actions">
				<a target="_blank" class="tips img-circle" href="//dine-dish.com" data-placement="bottom" data-original-title="View Online"><span class="glyphicons white zoom_in"><i></i></span></a>
				<a href="#portfolioitem-6" class="tips more-info img-circle" data-placement="bottom" data-original-title="Project Description"><span class="glyphicons white share"><i></i></span></a>
			</div>
		</div>
	</div> 
	-->



</div>