
<div class='text-center'>
	<h1><a href='https://drive.google.com/uc?export=view&id=0Bz-TE21AxXsNZDRuWFhEN1Fmc2s'>download resume</a></h1>
</div>
<!-- 
<h3>Profile</h3>
Connor has been coding javascript daily since leaving Carnegie Mellon’s Masters Degree program in Kigali, Rwanda. Prior to joining the program he had some experience with Rails, PHP and Python. He likes angular.js, node.js, mongodb
Experience
Open source contributions, Oakland, CA  —  June 2014 - Present
Working on apps for crime prevention and political, financial transparency with Code for America brigades

Platform45, Cape Town, ZA  —  May - June 2014
Began working briefly on a mobile music sharing app before leaving South Africa for not having a work visa.

traveled to startup incubators from Kigali, RW to Cape Town, ZA  —  Oct 2013 - June 2014
Bused from Kigali,
Connor Leech
415-717-5557      connorleech@gmail.com     http://connorlee.ch Rwanda through Uganda to Nairobi to Cape Town. Cape Town and Nairobi are the tech startup hubs of South and East Africa, respectively

Prior:
Civic organizing and street canvasing with the Community Democracy Project, a campaign initiative to increase transparency in the city of Oakland’s budget drafting process.

Education
Carnegie Mellon Rwanda, no-degree  —  June 2013 - Oct 2013
began Masters of Science in Information Technology
City Varsity, certificate in New Media Development  —  Feb 12 - Nov 12
 began learning to program with jQuery, html, css3 and PHP
UC Santa Barbara, BA Political Science  —  Sept 07 - June 11

Skills - professional sailing instructor and bartender -->